<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>gwyU1xNl1K+pTLYlK9F4lCVlKjvIhRNboZ5s+pPenwVifVK4oeWt3jtimAkWkYORuIg1r4nPxzMFLmjQ2LG9t6l3KzbHz96iDDjqnTj3xkNYG6dUmRyXTlMYUx7hIXvtshf57iViiakqbPu8w9uFW5+KqlsjjSvczTJ7uYjvouEr5r9/pjuYa9tZzFEnams9bO9j3ZwJJHeNPaEX4mAm/OWkxCtRVw7Y31Cj2jhnBG3zfJzosxHIGCwlTmAQDQ010XLen0EK+e7ytO+xEcFYyUW39X0KUrvHUraXiseOvg3SG7y8IcNcya2ikIChdaW3aN4uFrSP16SGKQQOM85hgw==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>04JmmHfvcNd8pYI+vbTqB5SVTyDneMVc67WwfA7DRJM=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>