<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MonsterDB" connectionString="data source=revsqltraining.ccgimk9upnjq.us-east-1.rds.amazonaws.com; Initial Catalog=MonsterDB;Integrated Security=False;User Id=sqlrootuser;Password=Rubberduck1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>